* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
}
.body, html {
    background: linear-gradient(45deg, #5382dd, #ac52b6);
}
.main {
    padding: 100px 0;
    height: 100vh;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1000px;
}
.main__title {
    margin-bottom: 50px;
    font-size: 32px;
}
.main__equation {
    margin-bottom: 30px;
}
input {
    padding: 5px;
    width: 70px;
    cursor: pointer;
    outline-color: black;
    border-radius: 8px;
    border: none;
}
sup, sub {
    font-size: 20px;
}
.main__discriminant {
    margin-bottom: 20px;
}
.btn {
    font-size: 22px;
    border-radius: 8px;
    padding: 5px 15px;
    display: block;
    margin: 0 auto 30px;
    border: 1px solid black;
    transition: all 0.3s linear;
    background-color: #f8f8a6;
}
.btn:hover {
    cursor: pointer;
    background-color: #df2525;
}
@media (max-width:400px) {
    input {
        width: 50px;
    }
    .main__equation {
        font-size: 20px;
    }
}
@media (min-width:1000px){
   * {
        font-size: 40px;
   }
   .main__title {
        margin-bottom: 80px;
        font-size: 60px;
    }
    .btn {
        font-size: 32px;
        padding: 12px 35px;
        margin: 0 auto 60px;
    }
    input {
        width: 100px;
    }
    .main__equation {
        margin-bottom: 80px;
    }
    sup, sub {
        font-size: 28px;
    }
}